body {
    background-color:rgb(196, 196, 246);
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    color: rgb(199, 199, 250);
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.music-player{
    background-color:rgb(94, 94, 224);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100px; */
    margin: 25% 5%;
}

.tile{
    width: 70%;
    align-self: center;
    padding: 0 0  20px 0;
}

.btn{
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.play-pause{
    font-size: 3.5rem;
}

.controls{
    display: flex;
    justify-content: center;
}

.btn:hover{
    color:rgb(196, 196, 246);
    transition-duration: 200ms;
}

h2{
    text-align: center;
}

.slider{
    display: flex;
}

.slider-container {
    width: 90%;
    align-self: center;
}

.slider {
    width: 100%;
}

#progressBar {
    height: 5px;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#progress{
    -webkit-appearance: none;
    width: 90%;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 20px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(94, 94, 224);
    width: 30px;
    height: 30px;
    border: 50% rgb(196, 196, 246) solid;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(196, 196, 246);
    border-width: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}